@media (max-width: 800px) {
  .chef-card-grid {
    gap: 0px !important;
    padding: 0px !important;
  }

  .chef-card-container {
    margin: 0px 8px 10px !important;
    padding: 0px 0px 0px !important;
  }
  .card-body {
    padding: 3px !important;
  }
}
@media (max-width: 480px) {
}

@media (max-width: 400px) {
}

@media (max-width: 380px) {
}

@media (max-width: 375px) {
}

@media (max-width: 321px) {
}

.chef-card-container {
  width: 180px;
  background-color: #fff;
  margin-bottom: 40px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin: 10px 12px 20px;
  padding: 6px 5px 10px;
}

.chef-card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin-top: 15px;
}

.chef-card-grid .chef-card-container {
  flex: 1 0 21%;
  max-width: 180px;
}
