
.righysercchefinner {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 4px;
    overflow-y: scroll;
  }

.ordersummeryprice{
margin: 0;
}

.order-container.chef {
    padding: 0;
}